<header>
  <nav class="navbar sticky-top navbar-dark bg-dark p-3 navbar-expand-lg bg-light" id="home">
    <div class="container">
      <%= link_to "YAOWUN", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="navbar-nav ms-auto">
        <a class="nav-link" href="#home">首頁</a>
        <a class="nav-link" href="#about">關於我</a>
        <a class="nav-link" href="#project">作品集</a>
        <a class="nav-link" href="#contact">與我聯絡</a>
      </div>
      </div>
    </div>
  </nav>
</header>