<div class="container p-5 border-bottom" id="about">
  <h1 class="text-center pb-2">關於我</h1>
  <p class="lead pt-2">
    我是張耀文，目前就讀國立中央大學天文研究所，研究方向是低質量X光雙星的軌道光變及超駝峰現象。雖然我不是資工相關科系畢業，
    但我樂於學習，除了主動學習演算法、資料結構、資料庫系統及物件導向等實體或線上開放課程，也會在研究之餘實作相關技術累積作品集。
  </p>

</div>

<div class="container p-5 border-bottom" id="project">
  <h1 class="text-center">作品集</h1>
  <div class="row row-cols-auto justify-content-md-center">
    <% @projects.each do |project| %>
      <div class="col p-2">
        <div class="card" style="width: 24rem;">
          <div class="card-body">
            <h4 class="card-title"><b><%= project.title %></b></h4>
            <p class="card-text"><%= project.description %></p>
            <a href=<%= project.link %> class="card-link">link</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

