<header>
  <nav class="navbar sticky-top navbar-dark bg-dark p-3 navbar-expand-lg bg-light text-light" id="home">
    <div class="container">
      <h3>後台管理系統</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="navbar-nav ms-auto">
        <%= link_to "回到前台", root_path, class: "btn btn-outline-light btn-floating m-1" %>
      </div>
      </div>
    </div>
  </nav>
</header>